<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
{% if user.is_authenticated %}
<!-- 定义放置退款名的div容器 -->
<div class="container">
    <div class="row mt-2">

        {% for refund in refunds %}
        <!-- 退款内容 -->
        <div class="col-4 mb-4">
            <!-- 卡片容器 -->
            <div class="card h-100">
                <!-- 商品名 -->
                <h4 class="card-header">{{ refund.commodity.commodity_name }}</h4>
                <!-- 价格 -->
                <div class="card-body">
                    <p class="card-text">价格：￥{{ refund.commodity.price }}</p>
                </div>
                <!-- 发货地 -->
                <div class="card-body">
                    <p class="card-text">发货地：{{ refund.commodity.place_of_delivery }}</p>
                </div>
                <!-- 简介 -->
                <div class="card-body">
                    <p class="card-text">规格：{{ refund.commodity.commodity_specification|slice:'100' }}</p>
                </div>
            </div>
        </div>
        <!-- 退款内容 -->
        <div class="row">
            <!-- 退款号 -->
            <h4 class="col-12 mt-4 mb-4">退款号：{{ refund.refund_id }}</h4>
            <!-- 用户名 -->
            <div class="col-12 alert alert-success">用户名：{{ user.username }}</div>
            <!-- 退款进度 -->
            <div class="col-12 alert alert-success">退款进度*：{{ refund.refund_catalog }}</div>
            <!-- 退款数量 -->
            <div class="col-12 alert alert-success">退款数量：{{ refund.refund_quantity }}</div>
            <!-- 退款金额 -->
            <div class="col-12 alert alert-success">退款金额：￥{{ refund_amount }}</div>
            <!-- 退款原因 -->
            <div class="col-12 alert alert-success">退款原因：{{ refund.refund_reason }}</div>
            <!-- 申请时间 -->
            <div class="col-12 alert alert-success">申请时间：{{ refund.apply_time }}</div>
            <!-- 退款时间 -->
            <div class="col-12 alert alert-success">退款时间：{{ refund.refund_time }}</div>
        </div>
        {% endfor %}
    </div>
</div>
<p>*（0代表正在处理，1代表已完成）</p>
{% else %}
<p>请先登录！</p>
{% endif %}
{% endblock content %}