<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
  <!-- 导航栏商标 -->
  <div class="navbar-header">  
    <a class="navbar-brand" href="#">我的电商平台</a>
  </div>
  <div>
    <ul class="nav navbar-nav navbar-right">
      <!-- 条目 -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'my_taobao:commodity_list' %}">首页</a>
      </li>
      <!-- 如果用户已经登录，则显示用户名下拉框 -->
      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            欢迎回来，{{ user.username }}！
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'userprofile:logout' %}">退出登录</a>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'my_taobao:follow' %}">我的关注</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'my_taobao:order_form' %}">我的订单</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'my_taobao:shopping_cart' %}">我的购物车</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'my_taobao:refund' %}">我的退款</a>
      </li>
      <!-- 如果用户未登录，则显示 “登录” -->
      {% else %}
      <li class="nav-item">
          <a class="nav-link" href="{% url 'userprofile:login' %}">登录</a>
      </li>                    
      <!-- if 语句在这里结束 -->
      {% endif %}
    </ul>
  </div>
</nav>